php_value upload_max_filesize 256M
php_value post_max_size 256M
php_value memory_limit 256M
php_value max_execution_time 300

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^assets/img/productos/(.+)$ /serve-img.php?f=$1 [L,QSA]
